--
-- PostgreSQL database dump
--

\restrict dLrqbGkgBFb0Ss9UIRTr2uKSfDE4LSNkkfyZmm3qukGBCP4fxaDZGS3hir2UH2r

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: envios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.envios (
    id uuid NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    email_cliente character varying(255) NOT NULL,
    order_id character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL
);


ALTER TABLE public.envios OWNER TO postgres;

--
-- Name: order_retry_jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_retry_jobs (
    id uuid NOT NULL,
    action character varying(255) NOT NULL,
    attempt integer NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    entity_id character varying(255) NOT NULL,
    global_status character varying(255) NOT NULL,
    next_run_at timestamp(6) with time zone NOT NULL,
    payload jsonb NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL
);


ALTER TABLE public.order_retry_jobs OWNER TO postgres;

--
-- Name: payments_retry_jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payments_retry_jobs (
    id uuid NOT NULL,
    action character varying(255) NOT NULL,
    attempt integer NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    entity_id character varying(255) NOT NULL,
    global_status character varying(255) NOT NULL,
    next_run_at timestamp(6) with time zone NOT NULL,
    payload jsonb NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL
);


ALTER TABLE public.payments_retry_jobs OWNER TO postgres;

--
-- Name: product_retry_jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_retry_jobs (
    id uuid NOT NULL,
    action character varying(255) NOT NULL,
    attempt integer NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    entity_id character varying(255) NOT NULL,
    global_status character varying(255) NOT NULL,
    next_run_at timestamp(6) with time zone NOT NULL,
    payload jsonb NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL
);


ALTER TABLE public.product_retry_jobs OWNER TO postgres;

--
-- Data for Name: envios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.envios (id, created_at, email_cliente, order_id, status, updated_at) FROM stdin;
db7af530-d15c-45f9-a5c8-fe9e6a050822	2026-06-11 00:53:10.973416+00	usuario@ejemplo.com	ORD-001	PROCESADO	2026-06-11 00:53:11.240024+00
\.


--
-- Data for Name: order_retry_jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_retry_jobs (id, action, attempt, created_at, entity_id, global_status, next_run_at, payload, updated_at) FROM stdin;
\.


--
-- Data for Name: payments_retry_jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payments_retry_jobs (id, action, attempt, created_at, entity_id, global_status, next_run_at, payload, updated_at) FROM stdin;
\.


--
-- Data for Name: product_retry_jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: envios envios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.envios
    ADD CONSTRAINT envios_pkey PRIMARY KEY (id);


--
-- Name: order_retry_jobs order_retry_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_retry_jobs
    ADD CONSTRAINT order_retry_jobs_pkey PRIMARY KEY (id);


--
-- Name: payments_retry_jobs payments_retry_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments_retry_jobs
    ADD CONSTRAINT payments_retry_jobs_pkey PRIMARY KEY (id);


--
-- Name: product_retry_jobs product_retry_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_retry_jobs
    ADD CONSTRAINT product_retry_jobs_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict dLrqbGkgBFb0Ss9UIRTr2uKSfDE4LSNkkfyZmm3qukGBCP4fxaDZGS3hir2UH2r

